@charset "UTF-8";
/* CSS Document */

body
{
	background-color: #dedede;
}
#daohan
{
	width: 1282px;height: 60px;
	background: #333;
}
#daohan img
{
	margin-left: 40px;margin-top: 10px;
}
#daohan ul
{
	float:right;
}
#daohan li
{
	float:left;
	margin-left: 14px;
}
#daohan a
{
	color: #EBEBEB;
	text-decoration: none;
}
#daohan a:hover
{
	color:aqua;
}


#pass_1
{
	width: 1240px;
	height: 708px;
	background-color: #fff;
	border-bottom: 1px solid #848484;
	border-right:1px solid #848484;
}
#pass_1 h2,p,img,strong
{
	margin-left: 20px;
}
.space
{
	padding-top: 40px;
}


#pass_2
{
	margin-top: 20px;
	width: 1240px;
	height: 708px;
	background-color: #fff;
	border-bottom: 1px solid #848484;
	border-right:1px solid #848484;
}

#pass_2 h2,p,img,strong
{
	margin-left: 20px;
}



#pic
{
	width:1240px;
	height: 1550px;
	background-color: #fff;
	border-bottom: 1px solid #848484;
	border-right:1px solid #848484;
}

#pic ul,h2,li
{
	margin-left: 20px;
}
#pic li
{
	width:400px;
	border: 1px solid #cecece;
	margin-top: 20px;
	text-align: center;
	padding: 10px;
}
#pic li img
{
	margin-top: 10px;
}


#pass_3
{
	width:1240px;
	height:480px;
	background-color: #fff;
	border-bottom: 1px solid #848484;
	border-right:1px solid #848484;
}
#pass_3 table
{
	margin-left: 20px;
}

#pass_3 td
{
	border: 1px solid #333;
	width: 300px;
}

#sub
{
	width: 1240px;
	height: 520px;
	background-color: #fff;

}
#sub form
{
	margin-left: 300px;
}
.sp
{
	
	position: relative;
	left: 32px;
}

.st
{
	font-size: 12px;color: #999;
	padding-left: 130px;
}

.sp1
{
	position: relative;
	left:82px;
}
.sp2
{
	position: relative;
	left: 42px;
	
}
.sp3
{
	width:800px;
	position: relative;
	right: 140px;
	background-color: #3355d0;
	color: #fff;
	
}

#bot
{
	width: 1282px;height: 60px;background-color: #000;
	text-align: center;
	color: #fff;
}
#bot p
{
	padding-top: 20px;
}






