body
{
	width:100%;
	margin:0 auto;
}

#all
{
	max-width:980px;
	margin:0 auto;
	border:2px solid #999;
}

#page
{
	display:flex;
	max-width:980px;
	margin:0 auto;
	flex-direction:row;
	flex-wrap:wrap;
}

#page div
{
	width:280px;
	height:50px;
	margin:20px;
	border:2px solid #999;
	background:#eee;
	flex-grow:1;
}

#fixed
{
	display:flex;
	max-width:980px;
	margin:0 auto;
}

#fixed div
{
	height:50px;
	margin:20px;
	border:2px solid #999;
	background:#eee;
}

.fixed{flex-grow:1;}
.fixed2{flex-grow:2;}

#end
{
	display:flex;
	max-width:980px;
	margin:0 auto;
	flex-direction:row-reverse;
	flex-wrap:wrap;
}

#end div
{
	height:50px;
	margin:20px;
	border:2px solid #999;
	background:#eee;
}

.end1{width:340px;flex-grow:6;}
.end2{width:140px;flex-grow:2;}
.end3{width:50px;flex-grow:1;}
